*{
	background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.big-container{
    display:flex;
    justify-content: space-between;
    border: 1px solid black;
}
#first-container{
	display: flex;
	flex-direction:column;
	justify-content: space-between;
    border: 1px solid black;
    width: 65%;
    height: 90vh;
}
#second-container{
    border: 1px solid black;
    width:35%;
    height: 90vh;

}
#heading{
    border: 1px solid black;
    margin:5px;
	background-color: rgb(38, 38, 165);
	h1{
		background-color: rgb(38, 38, 165);
		color:white
	}
}

#options{
    display:flex;
    height:50px;
    padding:10px;

    justify-content: space-between;
    border: 1px solid black;
    #name{
        border: 2px solid black;
		width:70px;
		align-items: center;
    }
    #price{
        border: 2px solid black;
		width: 100px;
    }

    #input-stock{
        height: 100%;
		border:2px solid black;

    }
    #buy{
        border: 2px solid black;
        width:50px;
		align-items: center;
    }
    #sell{
        border: 2px solid black;
        width:50px;
    }

    #second-container{
        h1{
            margin:5px;
        }
    }


}


#bar-chart{
	display: flex;
	justify-content: flex-start;
	align-items: end;
	padding-right: 10px;
	padding-left:10px;
	overflow-x: auto;
    flex:1 0 auto;
	height:80%;
	width:80%;
	margin-left:70px;
	margin-bottom: 20px;
	border: 1px solid black;
	
}
h1{
	padding-left:100px;
}




