

.stock-container {
    display: flex;
    justify-content: space-between;
    height: 80vh;
  }
  
  .stock-container-left {
    width: 70%;
    height: 100%;
  
    .stock-container-left-header {
      display: flex;
      height: 15%;
      width: 100%;
  
      .stock-container-left-stock-name {
        width: 15%;
        height: 3rem;
        flex-grow: 1;
        border: 1px solid black;
        padding-left: 1rem;
        margin: 1.5rem;
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;
  
        .arrow-icon {
          margin-left: auto;
          margin-right: 10px;
        }
  
        .options-dropdown {
          position: absolute;
          top: calc(100% + 5px);
          left: 0;
          width: 100%;
          max-height: 200px; // Adjust height as needed
          overflow-y: auto;
          background-color: #f9f9f9;
          border: 1px solid #ccc;
          border-top: none;
          z-index: 1;
          display: none;
  
          .option-item {
            padding: 0.5rem;
            cursor: pointer;
  
            &:hover {
              background-color: #ddd;
            }
          }
        }
  
        &.show-dropdown .options-dropdown {
          display: block;
        }
      }
  
      .stock-container-left-price {
        width: 38%;
        height: 3rem;
        flex-grow: 1;
        padding-left: 1rem;
        border: 1px solid black;
        margin: 1.5rem;
      }
  
      .stock-container-left-quantity {
        width: 15%;
        height: 3rem;
        flex-grow: 1;
        border: 1px solid black;
        margin: 1.5rem;
  
        input {
          width: 100%;
          height: 100%;
          padding: 0.5rem;
          box-sizing: border-box;
          border: 1px solid #ccc;
          transition: border-color 0.3s;
          outline: none;
  
          &:focus {
            border-color: #007bff;
          }
        }
      }
  
      .stock-container-left-buy,
      .stock-container-left-sell {
        width: auto;
        height: 80%;
        flex-grow: 1;
        border: 1px solid #000;
        margin: 1rem;
        align-self: center;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  
    .stock-container-left-graph {
      border: 1px solid black;
      flex-grow: 1;
      height: 85.5%;
      margin: 0 1.5rem 1.5rem 1.5rem;
    }
  }
  
  .stock-container-right {
    width: 30%;
  
    .user-history,
    .global-history {
      height: 47%;
      margin: 1rem 2rem 1rem 2rem;
      border: 1px solid black;
      overflow-y: auto;
    }
  
    .global-history {
      margin-top: 0;
    }
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    li {
      padding: 1rem;
      border-bottom: 1px solid #ccc;
  
      &:last-child {
        border-bottom: none;
      }
    }
  }
  


  .stock-container-left-graph {
    display: flex;
    align-items: flex-end;
    border: 1px solid black;
    height: 85.5%;
    margin: 0 1.5rem 1.5rem 1.5rem;
    flex-direction: row-reverse; /* Display bars from right to left */
  }
  
  .bar {
    width: 20px; /* Set a fixed width for the bars */
    // margin-left: 5px; /* Add margin between bars */
    
    
  }
  .stock-container-left-graph {
    overflow-x: hidden;
    display: flex;
    flex-direction: row; /* Set the direction of the flex container to reverse */
    align-items: flex-end; /* Align items at the end of the container */
    height: 300px; /* Set a fixed height for the container */
    padding-left:2rem;
    padding-right:2rem;
    color: greenyellow
}
.stock-container-left-graph {
    position: relative;
    right: 1rem;
    width: calc(100% - 5rem); /* Adjust width to be less */
    height: 100%;
}

.grid-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.horizontal-line {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgba(169, 169, 169, 0.5); /* Grey color */
}


.vertical-line {
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: rgba(169, 169, 169, 0.5); /* Grey color */
}

