.tag-filter-container{
    margin: 0;
    padding: 0;
    
    display: flex;
    *{
        margin: 0;
        padding: 0;
    }
    .tag-content{
        background-color: bisque;
        padding: 0 5px;
        display: flex;
        margin: 0 1rem;
        font-size: large;
        div{
            padding-top: 0.75rem;
        }
        button{
            font-size: medium;
            
            border: none;
            padding-left: 0.5rem;
            background-color: bisque;
            
        }
    }
    .tag-filter{
        display: flex;
        font-size: small;

    }
}