/* StockWindow.scss */
@import url('https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

.stock-item-main {
  margin: 3rem;

  .stock-item-header {
    text-align: center;
    width: 100%;
    display: flex;
    border-bottom: 1px solid grey;
    justify-content: space-between;
    align-items: center;
  }


@media screen and  (min-width: 415px){
    .base-price {
      margin-left: 18rem;
      padding-right: 4rem;
      
    }
    .watchlist{
      padding: 0.5rem;
    }
    .stock-item-container {
      border: 1px solid black;
      width:70%;
      border-radius: 20px;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
    .item-body{
      padding-left: 3rem;
      padding-right: 3rem;
    }

    .main-container{
      text-align: center;
      width: 100%;
    }
    .items-container{
      text-align: center;
      align-items: center;
      padding-left: 25rem;
      
      
    }
    .stock-item-header-title{
      .company{
        margin-left: 3rem;
      }
    }

    .watchlist-container{
      align-items: center;
      text-align: center;
      margin-left:25rem;
      width: 75%;
      i{
        background-color: rgb(20, 172, 232);
        padding:5px;
      }
    }
    .company{
      padding-left: 3rem;
    }
    
  }

    .watchlist {
      text-align: center;
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;
      border-radius: 50%; 
      display: flex;
      justify-content: center;
      align-items: center;
    
      i {
        font-size: 1rem;
        border: 1px solid black;
        border-radius: 50%;
        color: black;
        font-weight: bolder;
        padding: 4px;
        transition: background-color 0.3s; 
        height: 20px;
        width: 20px;
      }
    
      &:hover {
        i {
          color: white;
        }
      }
    
      &.correct-icon {
        i {
          background-color: rgb(20, 172, 232); 
        }
      }
    
      &.correct-icon:hover {
        i {
          background-color: red; 
        }
      }
    
      &.cross-icon {
        i {
          background-color: red;
        }
      }
    
      &.cross-icon:hover {
        background-color: green;
        i {
          color: black;
        }
      }
    }
    
  }

  .watchlist-container .watchlist:hover {
    background-color: transparent;
  }




  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .pagination button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    transition: color 0.3s;
  }

  .pagination button:hover {
    color: green;
  }

  .pagination button:disabled {
    color: lightgray;
    cursor: not-allowed;
  }

  .pagination .ellipsis {
    margin: 0 0.5rem;
  }


.stock-item-header-title{
  border-bottom: 1px solid black;
  .company{
    font-weight: bold;
  }
  .base-price{
    font-weight: bold;
  }
  .watchlist-stocks{
    font-weight: bold;
    padding-right: 2rem;

  }
}



@media screen and (max-width: 414px) and (max-height: 826px) {
  .stock-item-main{
    margin: 0;
  }
  .main-container{
    width:100%;
  }
  .items-container {
    padding: 0; 
    justify-content: center; 
    align-items: flex-start;
    overflow-x: auto; 
    width: 100%;
    
  }

  .stock-item-container {
    width: 90%; 
    padding: 1rem; 
    white-space: nowrap; 
    height: 100vh;
  }
  .item{
    max-width:414px;
    margin-top: 2rem;
    padding-bottom: 2px;
  }

  .stock-item-header {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    border-bottom: 1px solid grey;
  }

  .stock-item-header p {
    margin: 0; 
  }

  .base-price {
    margin-top: 0.5rem; 
  }

  .watchlist-stocks {
    margin-top: 0.5rem; 
  }

  .pagination {
    margin-top: 1rem; 
    display: flex; 
    justify-content: center; 
  }

  .pagination button {
    margin: 0 0.3rem;
  }
  .company{
    padding:0;
  }

  .base-price {
    margin-left:4rem;
    margin-right: 3rem;
  }
  .stock-item-container{
    border:1px solid black;
    border-radius: 10px;
  }
  .portfolio{
    text-align: start;
    padding-right: 20rem;
  }
}
