.skills{
    background-color:rgb(155,210,255);
    height: 400px;
    width: 40%;
    border: 1px solid black;
}

h2{
    padding-left: 150px;
    color: rgb(188, 107, 37);

}

li{
    font-weight: bold;
    padding: 5px;
    color: rgb(33, 106, 33);
    
}